{% extends "base.html.twig" %}


{% block title %}漫画
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>
			いってらっしゃい</h1>
	</div>

	<div class="container">
		<h2>Secret weapons</h2>
		<div class="row flex">
			{% for weapon in weapons %}
				<div class="col-6 mt-3">
					{% include "weapon/_weapon.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}