#wdescription {
    font-size: 2.5rem;
    font-weight: bold;
}

.imgshow {
    width: 600px;
    height: 400px;
}

.form_delete {
    display: inline-block;
}

.desc p {
    line-height: 22px;
    height: 70px;
    overflow: hidden;
}

.showContent p {
    overflow: visible;
    height: auto;
}

.showContent button {
    background-color: red;
}

.contact {
    display: initial;
}

.hide {
    display: none;
}