{% extends "base.html.twig" %}
{% block title %}秘密兵器{% endblock %}

{% block body %}
<div class="container mt-4" >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ weapon[0].power }}</li>
        <li class="list-group-item">二番目の武器</li>
        <li class="list-group-item">三番目の武器</li>
        <li class="list-group-item">四番目の武器</li>
    </ul>
</div>


{% endblock %}