{% extends "base.html.twig" %}
{% block title '作る' %}



{% block body %}
	<div class="container mt-4">
		<h2>フォームを作成</h2>
		{{ form_start(form) }}
		    {{ form_rest(form) }}
            <button class="btn btn-primary">作る</button>
		{{ form_end(form) }}
	</div>
{% endblock %}

