{% extends "base.html.twig" %}
{% block title '武器管理（ぶきかんり)' %}



{% block body %}
    <div class="container mt-4">
        <h2>武器管理（ぶきかんり</h2>
        {{ form_start(form) }}
            {{ form_rest(form)}}
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
